[Unit]
Description=Hue MQTT Bridge
After=syslog.target network.target
# consider to add "docker.service" too if your database or mqtt broker runs within a local docker container
# Requires=docker.service
# After=syslog.target network.target docker.service

[Service]
Type=simple
ExecStart=/opt/hue-mqtt-bridge/hue-mqtt-bridge.sh --skip-log-times --config-file /opt/hue-mqtt-bridge/hue-mqtt-bridge.yaml
Restart=always
RestartSec=120
WorkingDirectory=/opt/hue-mqtt-bridge
User=<your service user>

[Install]
WantedBy=multi-user.target
